div.cart {
  width: 500px;
  height: 100%;
}

div.cartWrapper {
  border: 1px solid rgb(207, 207, 206);
  border-radius: 5px;
  margin: 30px 20px;
  padding: 10px 20px;
  
}

div.item, div.itemInfo, div.addItem, div.shipFee, div.totalPrice {
  display: flex;
}

div.cartItems {
  margin-bottom: 30px;
}

div.item {
  margin-bottom: 20px;
}


div.itemRright {
  width: 300px;
  margin-left: 20px;
  padding: 0 5px ;
}

div.itemInfo {
  justify-content: space-between;
}

div.addItem {
  width: 150px;
  justify-content: space-between;
}

img.itemPic {
  width: 120px;
  border-radius: 5px;
}

div.shipFee, div.totalPrice {
  margin-top: 20px;
  justify-content: space-between;
  border-top: 1px solid rgb(216, 219, 222);
}

div.addItem {
  width: 280px;
  display: flex;
}

div.btnItems {
  display: flex;
  align-items: center;
}

div.btnItems img {
  cursor: pointer;
}

h5.currentPrice {
  color: rgb(227, 140, 140)
}

p.qtyRender {
  margin: 0 30px;
}