div.addItem {
  width: 280px;
  display: flex;
}

div.btnItems {
  display: flex;

}

h5.currentPrice {
  color: rgb(227, 140, 140)
}

img.minusIcon, p.qtyRender, img.plusIcon {
  margin-right: 25px;
}