.buttonWrapper{
  padding:10px 30px 10px 30px;
}

hr {
  margin-bottom: 30px;
}

div.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.backBtn {
display: flex;
}

img.leftArrow {
  width: 20px;
  margin-right: 10px;
}

button.confirm {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(239, 154, 168);
  color: white;
  font-size: 14px;
}

