.buttonWrapper{
  margin: 20px 0 10px 0; 
  display: flex;
  justify-content: space-between;
}

.backBtn {
display: flex;
}

img.leftArrow {
  width: 20px;
}

button.confirm {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: pink;
  font-size: 14px;
  
}