div.formWrapper {
  padding: 10px 30px 10px 30px;
}


form label {
  font-size: 12px;
  font-weight: 600;
  color: rgb(139, 134, 134)
}

input.inputName, input.inputCreditCard {
  width: 350px;
  height: 25px;
}


.nameBox, .creditCardBox, .ExpiryBox, .cvcBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cardInfoBox {
  display: flex;
}

input.expiryNumber, input.cvcNumber {
  width: 230px;
  height: 25px;
}

.cvcBox {
margin-left: 60px;
}

