.buttonWrapper{
  padding:10px 30px 10px 30px;
}

hr {
  margin-bottom: 30px;
}

div.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


button.backBtn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}

img.leftArrow {
  width: 20px;
  margin-right: 10px;
}


button.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightArrow {
  width: 20px;
  margin-left: 10px;
  fill : white; 
}

button.confirm, button.nextBtn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(239, 154, 168);
  color: white;
  font-size: 14px;
}

